.sprd-skip-nav,
.sprd-burgermenu,
.sprd-header__title,
#sprd-mobile-navigation {
  display: none;
}

.sprd-header__actions {
  height: 0px;
}

#sprd-basket {
  display: none;
}

#shopping-cart {
  right: 18px;
  top: 12px;
  position: absolute;
  z-index: 2;
}

.sprd-breadcrumb {
  background-color: white;
  height: 40px;
}

#myShop nav {
  padding-top: 12px;
  padding-left: 2px;
  padding-right: 60px;
  padding-bottom: 52px;
  background: white;
  font-size: 22px;
  height: 22px;
  box-shadow: none;
}

.sprd-footer {
  display: none;
}

.sprd-cookie-banner__text {
  display: none;
}

.sprd-header-container {
  display: none;
}